In [7]:
import pandas as pd

# Ejercicio 1

Obtener la versión de la librería pandas.

In [8]:
print(pd.__version__)

1.5.3

# Ejercicio 2



*   Convertir la lista dada en una estructura pandas Series.
*   Comprueba su tamaño.
* Utiliza el comando describe() y mira para qué sirve.

In [9]:
datos = [2, 3, 5, 7, 11]
serie = pd.Series(datos)
serie
len(serie)
descripcion = serie.describe()
print(descripcion)

count     5.000000
mean      5.600000
std       3.577709
min       2.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      11.000000
dtype: float64

# Ejercicio 3

* Ahora vuelve a convertir la pandas series de antes a una lista Python.
* Comprueba su tipo con la función type()

In [11]:
lista_python = serie.tolist()
type(lista_python)

list

# Ejercicio 4

Aplicar las operaciones aritméticas básicas sobre los objetos Series dados.

Prueba a:
* Sumar
* Restar
* Multiplicar
* Dividir

In [12]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([9, 8, 7, 6, 5])

In [16]:
suma = serie1 + serie2
resta = serie1 - serie2
multiplicacion = serie1*serie2
division = serie1 / serie2
print("Suma:", suma)
print("Resta:", resta)
print("Multiplicación:", multiplicacion)
print("División:", division)

Suma: 0    10
1    10
2    10
3    10
4    10
dtype: int64
Resta: 0   -8
1   -6
2   -4
3   -2
4    0
dtype: int64
Multiplicación: 0     9
1    16
2    21
3    24
4    25
dtype: int64
División: 0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
dtype: float64

# Ejercicio 5

Usar operadores relacionales para comparar los objetos Series dados.

In [17]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])

In [18]:
menor_que = serie1 < serie2
menor_igual_que = serie1 <= serie2
mayor_que = serie1 > serie2
mayor_igual_que = serie1 >= serie2
igual_a = serie1 == serie2
distinto_de = serie1 != serie2
print("Menor que:", menor_que)
print("Menor o igual que:", menor_igual_que)
print("Mayor que:", mayor_que)
print("Mayor o igual que:", mayor_igual_que)
print("Igual a:", igual_a)
print("Distinto de:", distinto_de)

Menor que: 0     True
1     True
2     True
3    False
4    False
dtype: bool
Menor o igual que: 0     True
1     True
2     True
3     True
4    False
dtype: bool
Mayor que: 0    False
1    False
2    False
3    False
4     True
dtype: bool
Mayor o igual que: 0    False
1    False
2    False
3     True
4     True
dtype: bool
Igual a: 0    False
1    False
2    False
3     True
4    False
dtype: bool
Distinto de: 0     True
1     True
2     True
3    False
4     True
dtype: bool

¿Qué ocurre? ¿Se comparan todos los elementos? ¿Se compara el objeto únicamente...?



```
Los operadores relacionales comparan los elementos de las series elemento a elemento y devuelven una nueva serie booleana con los resultados de las comparaciones.
```

# Ejercicio 6



*   Convertir el diccionario Python en un objeto Series.
*   Intenta imprimir un pantalla algún valor de la serie.

PD: Fíjate como accedemos al valor.

In [21]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
serie = pd.Series(datos)
print("Valor de la serie en el índice 'b':", serie['b'])

Valor de la serie en el índice 'b': 20

# Ejercicio 7

Crea un array NumPy y conviertelo en un objeto Series.

In [24]:
#Crea un array NumPy
import numpy as np
vector = np.array([1, 2, 3, 4, 5])
vector

array([1, 2, 3, 4, 5])

In [27]:
#Conviertelo en un objeto Series.
serie = pd.Series(vector)
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Ejercicio 8

Cambiar el tipo de datos de un objeto Series.



*   Cambiar la siguiente serie de Strings en númerica

In [36]:
datos = pd.Series(['100', '200', '', '300.15', '500.8'])
a = pd.to_numeric(datos)
print(a)

0    100.00
1    200.00
2       NaN
3    300.15
4    500.80
dtype: float64

# Ejercicio 9

Obtener una columna de un objeto DataFrame como un objeto Series.

In [38]:
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

   A  B   C
0  1  9   2
1  2  8   3
2  3  7   5
3  4  6   7
4  5  5  11

In [40]:
coco = df.loc[0:4, 'A']
coco

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

# Ejercicio 10 (Opcional)

Convertir un objeto Series con múltiples listas en un único objeto Series.

In [37]:
datos = [['Colombia', 'Perú', 'Argentina'], ['Bolivia', 'Uruguay'], ['Chile']]

serie = pd.Series(datos)

serie

0    [Colombia, Perú, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

# Ejercicio 11

Ordenar los valores de un objeto Series con el método sort_values.

In [42]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)
serie_ordenada = serie.sort_values()
print("Serie ordenada:")
print(serie_ordenada)

Serie ordenada:
2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

# Ejercicio 12

Agregar datos a un objeto Series existente.

* Usa el método append()
* IMPORTANTE: Si estamos trabajando con pandas series y aplicamos el método append(), espera recibir como argumento una pandas series.

In [83]:
datos = ['Python', 'C#', 'C++', 'Java', 'PHP']

serie = pd.Series(datos)

serie

0    Python
1        C#
2       C++
3      Java
4       PHP
dtype: object

In [84]:
lista = ['Javascript']
serie2 = pd.Series(lista)

serie.append(serie2)

<ipython-input-84-0cd91bb85150>:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  serie.append(serie2)

0        Python
1            C#
2           C++
3          Java
4           PHP
0    Javascript
dtype: object

# Ejercicio 13

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.

Quédate con los datos que sean menores de 6.

In [51]:
datos = [0, 1, 7, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

serie

0    0
1    1
2    7
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [52]:
serie_existente = pd.Series([1, 5, 3, 7, 2, 9, 4, 8])

nueva_serie = serie_existente[serie_existente < 6]

print("Nueva serie:")
print(nueva_serie)

Nueva serie:
0    1
1    5
2    3
4    2
6    4
dtype: int64

# Ejercicio 14

* Tenemos un objeto series con letras como Indices y números como valores
* Cambiar el orden del índice de un objeto Series.
* El orden tiene que ser: ['B', 'A', 'C', 'D', 'E']

PISTA: Podrías buscar en internet how to change index order series python

In [53]:
datos = [1, 2, 3, 4, 5]

indices = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(data=datos, index=indices)

serie

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [54]:
series = pd.Series([1, 2, 3, 4, 5], index=['A', 'B', 'C', 'D', 'E'])

new_order = ['B', 'A', 'C', 'D', 'E']
series_reordered = series.reindex(new_order)

print("Series with reordered index:")
print(series_reordered)

Series with reordered index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

# Ejercicio 15

Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [56]:
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

serie = pd.Series(datos)

serie

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

In [55]:
serie = pd.Series([1, 2, 3, 4, 5])

desviacion_estandar = serie.std()
promedio = serie.mean()

print("Desviación estándar:", desviacion_estandar)
print("Promedio:", promedio)

Desviación estándar: 1.5811388300841898
Promedio: 3.0

# Ejercicio 16

Calcular los valores mínimo y máximo de un objeto Series.

In [57]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

0    19
1     2
2    13
3     0
4    23
5    29
6    11
7     7
dtype: int64

In [59]:
serie = pd.Series([10, 5, 8, 3, 12, 6])

minimo = serie.min()
maximo = serie.max()

print("Valor mínimo:", minimo)
print("Valor máximo:", maximo)

Valor mínimo: 3
Valor máximo: 12

# Ejercicio 17 (Opcional)

Obtener estádisticas básicas de un objeto Series con el método `describe`.

In [61]:
serie = pd.Series([10, 25, 8, 38, 12, 60])
estadisticas = serie.describe()
print(estadisticas)

count     6.000000
mean     25.500000
std      20.374003
min       8.000000
25%      10.500000
50%      18.500000
75%      34.750000
max      60.000000
dtype: float64

## Ejercicio 18

Obtener los elementos impares de un objeto Series numérico.

In [62]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

0    19
1     2
2    13
3     0
4    23
5    29
6    11
7     7
dtype: int64

In [63]:
serie = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
elementos_impares = serie[serie % 2 != 0]
print("Elementos impares:")
print(elementos_impares)

Elementos impares:
0    1
2    3
4    5
6    7
8    9
dtype: int64

# Ejercicio 19 (Opcional)

Extraer los datos de un objeto Series como un objeto NumPy.

In [64]:
serie = pd.Series([1, 2, 3, 4, 5])
array = serie.values
array

array([1, 2, 3, 4, 5])

# Ejercicio 20

Comprobar si una serie contiene valores NaN. Ya existe una función que lo comprueba.

In [65]:
datos = ['20', '30', '', '50', 100]

serie = pd.Series(datos)
serie = pd.to_numeric(serie)

serie

0     20.0
1     30.0
2      NaN
3     50.0
4    100.0
dtype: float64

In [66]:
serie = pd.Series([1, 2, float('nan'), 4, 5])
tiene_nans = serie.isna()
print(tiene_nans)

0    False
1    False
2     True
3    False
4    False
dtype: bool

# Ejercicio 21 (Opcional)

Operaciones aritméticas con métodos de la clase Series: `add`, `subtract`, `multiply`, y `divide`.

In [67]:
serie1 = pd.Series(list(range(1, 11)))

serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [68]:
serie2 = pd.Series(list(range(10, 0, -1)))

serie2

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64

In [69]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([6, 7, 8, 9, 10])
suma = serie1.add(serie2)
resta = serie1.subtract(serie2)
multiplicacion = serie1.multiply(serie2)
division = serie1.divide(serie2)
print("Suma:")
print(suma)
print("Resta:")
print(resta)
print("Multiplicación:")
print(multiplicacion)
print("División:")
print(division)

Suma:
0     7
1     9
2    11
3    13
4    15
dtype: int64
Resta:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
Multiplicación:
0     6
1    14
2    24
3    36
4    50
dtype: int64
División:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

# Ejercicio 22

Eliminar los valores NaN de una serie con el método dropna.

In [70]:
datos = ['2.3', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie

0    2.3
1     90
2    100
3    NaN
4    0.5
5     .9
dtype: object

In [71]:
serie = pd.Series([1, 2, float('nan'), 4, 5])
serie_sin_nans = serie.dropna()
print(serie_sin_nans)

0    1.0
1    2.0
3    4.0
4    5.0
dtype: float64

# Ejercicio 23

Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

In [80]:
datos = [1, 3, np.nan, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)

serie

0         1
1         3
2       NaN
3        11
4    Python
5      -0.5
6       NaN
dtype: object

In [81]:
datos = [1, 3, np.nan, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)
serie_reemplazada = serie.fillna('N/A')
print(serie_reemplazada)

0         1
1         3
2       N/A
3        11
4    Python
5      -0.5
6       N/A
dtype: object